@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.cdnfonts.com/css/charlie-kingdom');

    body {
        background-color: black;
        font-family: 'Charlie Kingdom', sans-serif;;
}
.regular-bg{
    background-color: #DDC69F;
}


.svghover svg:hover {
    fill: #fce57e;
}
  